@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";

    var articleCount = ViewBag.latestArticleList.Count;
    int pageNum = (ViewBag.articleListCount / ViewBag.limitOfPrintArticleInOnePage);
    int pageStartPoint = ViewBag.currentShowPage - (int)ViewBag.pageNavigationSize / 2;
    if(pageStartPoint <= 0)
    {
        pageStartPoint = 1;
    }

    //if(ViewBag.currentShowPage + (int)ViewBag.pageNavigationSize / 2 >= pageNum)
    //{
    //    pageStartPoint = pageStartPoint - ViewBag.limitOfPrintArticleInOnePage;
    //}
}

@if (articleCount > 0)
{
    var featuredPost = ViewBag.latestArticleList[0];
    <!-- Featured Post -->
    <article class="post featured">
            <header class="major">
                <span class="date">@featuredPost.uploadDateTime</span>
                <h2>
                    <a href="/Blog/ShowSelectedArticle?articleID=@featuredPost.articleID">
                        #@featuredPost.articleID @featuredPost.title
                    </a>
                </h2>
                <p>
                    @featuredPost.highlightText
                </p>
            </header>
            <a href="/Blog/ShowSelectedArticle?articleID=@featuredPost.articleID" class="image main"><img src="@featuredPost.imgUrl" alt="" /></a>
            <ul class="actions special">
                <li><a href="/Blog/ShowSelectedArticle?articleID=@featuredPost.articleID" class="button large">Full Story</a></li>
            </ul>
    </article>

    if (articleCount > 1)
    {
        int i = 1;
        <!-- Posts -->
        <section class="posts">
            @for(i = 1; i < articleCount; i ++) 
            {
                var currentPost = ViewBag.latestArticleList[i];
                <article>
                    <header>
                        <span class="date">@currentPost.uploadDateTime</span>
                        <h2>
                            <a href="/Blog/ShowSelectedArticle?articleID=@currentPost.articleID">
                                #@currentPost.articleID @currentPost.title
                            </a>
                        </h2>
                    </header>
                    <a href="/Blog/ShowSelectedArticle?articleID=@currentPost.articleID" class="image fit"><img src="@currentPost.imgUrl" alt="" /></a>
                    <p>@currentPost.highlightText</p>
                    <ul class="actions special">
                        <li><a href="/Blog/ShowSelectedArticle?articleID=@currentPost.articleID" class="button">Full Story</a></li>
                    </ul>
                </article>
            }
        </section>

        <!-- Footer -->
        <footer>
            @*@pageNum ~ @(pageStartPoint + ViewBag.pageNavigationSize)*@
            <div class="pagination">
                @if(ViewBag.currentShowPage > 1) 
                {
                    <a href="/Blog/Index?page=@(ViewBag.currentShowPage - 1)" class="previous">Prev</a>
                }
                @for (i = pageStartPoint; i < (pageNum < pageStartPoint + ViewBag.pageNavigationSize ? pageNum : pageStartPoint + ViewBag.pageNavigationSize); i++)
                {
                    if (ViewBag.currentShowPage == i)
                    {
                        <a href="/Blog/Index?page=@i" class="page active">@i</a>
                    }
                    else
                    {
                        <a href="/Blog/Index?page=@i" class="page">@i</a>
                    }
                }
                @*<a href="#" class="page active">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <span class="extra">&hellip;</span>
                <a href="#" class="page">8</a>
                <a href="#" class="page">9</a>
                <a href="#" class="page">10</a>*@
                @if (ViewBag.currentShowPage < pageNum - 1)
                {
                    <a href="/Blog/Index?page=@(ViewBag.currentShowPage + 1)" class="next">Next</a>
                }
            </div>
        </footer>
    }

}    