@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";

    var articleCount = ViewBag.latestArticleList.Count;
}

@if (articleCount > 0)
{
    var featuredPost = ViewBag.latestArticleList[0];
    <!-- Featured Post -->
    <article class="post featured">
            <header class="major">
                <span class="date">@featuredPost.uploadDateTime</span>
                <h2>
                    <a href="#">
                        #@featuredPost.articleID @featuredPost.title
                    </a>
                </h2>
                <p>
                    @featuredPost.highlightText
                </p>
            </header>
            <a href="#" class="image main"><img src="@featuredPost.imgUrl" alt="" /></a>
            <ul class="actions special">
                <li><a href="#" class="button large">Full Story</a></li>
            </ul>
    </article>

    if (articleCount > 1)
    {
        int i = 1;
        <!-- Posts -->
        <section class="posts">
            @for(i = 1; i < articleCount; i ++) 
            {
                var currentPost = ViewBag.latestArticleList[i];
                <article>
                    <header>
                        <span class="date">@currentPost.uploadDateTime</span>
                        <h2>
                            <a href="#">
                                #@currentPost.articleID @currentPost.title
                            </a>
                        </h2>
                    </header>
                    <a href="#" class="image fit"><img src="@currentPost.imgUrl" alt="" /></a>
                    <p>@currentPost.highlightText</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Full Story</a></li>
                    </ul>
                </article>
            }
        </section>
    }

}    