
@{
    ViewBag.Title = "ShowSelectedArticle";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";
}

<!-- Post -->
<section class="post">
    <header class="major">
        <span class="date">@ViewBag.article.uploadDateTime</span>
        <h1>
            @ViewBag.article.title
        </h1>
        <p>
            @ViewBag.article.highlightText
        </p>
    </header>
    <div class="image main"><img src="@ViewBag.article.imgUrl" alt="" /></div>
    <p>@ViewBag.article.articleContent</p>
</section>

<script>
    function DocumentReadyFunc()
    {
        PrintLogMessage("ShowSelectedArticle", "DocumentReadyFunc", "init", LOG_LEVEL_INFO)
        tabMenuManager.ActiveSecondMenu()
        tabMenuManager.ChangeSecondMenu("SHOW SELECTED ARTICLE", "/Blog/ShowSelectedArticle?articleID=" + @ViewBag.article.articleID)
    }
</script>